body{
    display: flex;
    justify-content: center;
}

#tela{
    background-color: rgb(32, 32, 32);
    height: 700px;
    width: 300px;
}

.pontos{
    font-size: 40px;
    font-family: Arial, Helvetica, sans-serif;
}