body{
    display: flex;
    justify-content: center;
    color: #fff;
}

#tela{
    background-color: rgb(32, 32, 32);
    height: 700px;
    width: 300px;
}

.pontos, #cronometro{
    color: #444;
    font-size: 40px;
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    text-align: center;
    color: #ffcc00;
    text-shadow: 2px 2px #333;
}


/*TABELA****************************************/
table {
    width: 400px;
    margin: 0 auto;
    border-collapse: collapse;
    background-color: #444;
    border: 2px solid #ffcc00;
}

th, td {
    padding: 10px;
    text-align: center;
}

th {
    background-color: #ffcc00;
    color: #222;
    text-shadow: 1px 1px #fff;
}

tr:nth-child(even) {
    background-color: #666;
}

tr:nth-child(odd) {
    background-color: #888;
}

tr:first-child {
    font-weight: bold;
}