@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #fff;
}

#tela {
    background-color: rgb(32, 32, 32);
    height: 700px;
    width: 300px;
}

.pontos,
#cronometro,
#recorde {
    color: #444;
    font-size: 40px;
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    text-align: center;
    color: #ffcc00;
    text-shadow: 2px 2px #333;
}

main {
    display: flex;
    flex-direction: row;
}

.tela_cronom {
    position: relative;
}

#cronometro {
    font-family: 'Press Start 2P', cursive;
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}